@import 'styles/mixins/breakpoints.scss';

.heading {
  letter-spacing: -0.025em;
  margin-bottom: 5rem;
  margin-top: 2rem;
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: 700;

  .link {
    &hover {
      text-decoration: underline;
    }
  }

  @include media('md') {
    letter-spacing: -0.04em;
    font-size: 2.25rem;
  }
}
